<li class="list-none" id="<%= dom_id challenge %>">
  <%= link_to challenge, class: "block hover:bg-gray-50" do %>
    <div class="flex items-center px-4 py-4 sm:px-6">
      <div class="flex items-center flex-1 min-w-0">
        <div class="flex-1 min-w-0 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <p class="text-sm font-medium truncate">
              <span class="text-primary-600"><%= challenge.name %></span>
            </p>
            <p class="flex items-center mt-2 text-sm text-gray-500 items-bottom">
              <span class="text-sm font-medium text-gray-800 mr-2">Starts on</span>
              <span><%= challenge.start_date %></span>
            </p>
          </div>
          <div class="items-center hidden md:grid md:grid-cols-2">
            <div>
              <i class="fa-solid fa-person mr-3"></i>
              <%= challenge.challenge_enrollments.count %>
            </div>
            <div>
              <i class="fa-solid fa-dumbbell mr-2"></i><span class="text-s">types</span>
              <%= challenge.challenge_units.count %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  <% end %>
</li>
