<div class="flex flex-col" id="<%= dom_id challenge %>">
  <div class="flex flex-row w-full justify-evenly mb-12">
    <div class="flex flex-col items-center">
      <p class="text-lg font-medium">Name</p>
      <%= challenge.name %>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-lg font-medium">Start date</p>
      <%= challenge.start_date %>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-lg font-medium">End date</p>
      <%= challenge.end_date.nil? ? "n/a" :  challenge.end_date %>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-lg font-medium">Public</p>
      <%= challenge.public_data_display %>
    </div>
  </div>
  <div class="flex flex-col min-h-full w-full">
    <div class="p-4 mb-2">
      <p class="text-center text-lg mb-8 font-medium"> Reports By Day </p>
      <% users = challenge.users %>
      <% chart_data = users.map { |u| { name: u.first_name, data: u.reports.group_by_day(:created_at).count} } %>
      <%= line_chart chart_data %>
    </div>
    <div class="mx-auto flex w-full max-w-7xl justify-between gap-x-8 px-4 py-10 sm:px-6 lg:px-4">

      <aside class="sticky w-80 top-8 hidden lg:block">
        <%= render partial: "challenge_participants_table", locals: { participants: challenge.challenge_enrollments, challenge: challenge } %>
      </aside>

      <main class="flex-1">
        <%= render "challenge_leaderboard", { challenge: challenge } %>
        <div class="lg:hidden border-y-2 border-primary-600 mt-8 mb-8"></div>
        <div class="lg:hidden">
          <%= render partial: "challenge_units_table", locals: { challenge_units: challenge.challenge_units } %>
        </div>
      </main>

      <aside class="w-80 top-8 hidden shrink-0 lg:block">
        <%= render partial: "challenge_units_table", locals: { challenge_units: challenge.challenge_units } %>
        <% if challenge.user_can_edit_challenge?(current_user, current_account) %>
          <turbo-frame id="<%= "#{challenge.id}_add_unit" %>">
            <%= link_to new_unit_form_challenge_path(challenge), method: :post do %>
              <i class="fa-solid fa-plus fa-lg text-indigo-600 hover:text-indigo-900"></i>
            <% end %>
          </turbo-frame>
        <% end %>
      </aside>

    </div>
  </div>
</div>
