<%= form_with model: cu, url: challenge_unit_path(cu), method: :patch, local: true, data: { turbo_frame: 'edit-form' } do |form| %>
  <div class="flex-1 min-w-0 px-4 md:grid md:grid-cols-2 md:gap-4">
    <div class="inline-flex items-center min-w-1/2">
      <%= form.label :name, class: "mr-2 font-bold" %>
      <%= form.text_field :rep_name, class: "form-control" %>
    </div>
    <div class="inline-flex items-center min-w-1/2">
      <%= form.label :points, class: "mr-2 font-bold" %>
      <%= form.number_field :points, class: "form-control" %>
    </div>
  </div>
  <%= form.submit "update", class: "mr-2 text-indigo-600 hover:text-indigo-900 font-medium text-sm ml-4", data: { confirm: "Are you sure? Editting a rep can alter users' reports point values" } %>
  <%= link_to challenge_path(cu.challenge), class: "text-danger-600 font-medium text-sm hover:text-danger-900" do %>
    <span class="mr-1">
      cancel
    </span>
  <% end %>
  <%= link_to challenge_unit_path(cu), method: :delete, class: "ml-2 text-black font-medium text-sm hover:text-danger-900", data: { confirm: "Are you sure? Deleting a rep can alter users' reports point values" } do %>
    <span>
      <i class="fa-solid fa-trash"></i>
    </span>
  <% end %>
<% end %>
