<%= form_with model: challenge_unit, url: challenge_unit_path(challenge_unit), method: :patch, local: true, data: { turbo_frame: 'edit-form' } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :rep_name, class: "form-control" %>
  </div>
  <div>
    <%= form.label :points %>
    <%= form.number_field :points, class: "form-control" %>
  </div>
  <div class="mt-5 flex flex-row w-full justify-evenly">
    <%= link_to "Delete", challenge_unit_path(challenge_unit), class: "inline-flex w-1/3 justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline hover:text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2", method: :delete, data: { confirm: "Are you sure? Deleting a rep can alter users' reports point values" } %>
    <%= form.submit "Update", class:"inline-flex w-1/3 justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2", data: { confirm: "Are you sure? Editting a rep can alter users' reports point values" } %>
  </div>
<% end %>
