<%= form_with(model: ChallengeUnit.new, url: add_units_challenge_path(challenge), local: true) do |form| %>
  <div class="mb-2 flex flex-row items-center justify-around bg-white shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
    <div class="inline-flex">
      <%= form.text_field :rep_name, name: 'challenge_units[][challenge_unit][rep_name]', class: "form-control", placeholder: "name" %>
    </div>

    <div class="inline-flex w-1/4">
      <%= form.number_field :points, name: 'challenge_units[][challenge_unit][points]', class: "form-control ml-2", placeholder: "1" %>
    </div>

    <div class="flex flex-row items-center ml-2">
      <%= form.button button_text("create"), class: "font-semibold text-indigo-600 hover:text-primary-900" %>
      <%= link_to challenge_path(challenge), class: " font-semibold text-danger-600 hover:text-danger-900" do %>
        <i class="fa-solid fa-trash ml-2"></i>
      <% end %>
    </div>
  </div>
<% end %>
