<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
  <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
    <%= form_with model: report, url: report_path(report), method: :patch, local: true, data: { turbo_frame: 'edit-form' } do |form| %>
      <div>
        <%= form.label :challenge_unit, "Type" %>
        <%= form.collection_select :challenge_unit_id, report.challenge.challenge_units.active, :id, :rep_name, class: "form-control" %>
      </div>
      <div>
        <%= form.label :count %>
        <%= form.number_field :rep_count, class: "form-control" %>
      </div>
      <div class="mt-5 flex flex-row">
        <%= button_to "Delete", report_path(report), class: "inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2", method: :delete, data: { confirm: "Are you sure you want to destroy this report?" } %>
        <%= form.submit "Update", class:"inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2" %>
      </div>
    <% end %>
  </div>
</div>
